/**********************
	FONTS
***********************/
/**********************
	GLOBALS
***********************/
article,
aside,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

html,
body,
form {
  padding: 0;
  margin: 0;
  height: 100%; }

/***********************
	HELPERS
***********************/
/*************************
	STYLES
**************************/
/************************************
	LAYOUT
*************************************/
/** This is a dynamically generated file **/
