// BRAND PALETTE
$color-dominante: #000;
$color-subordinado-1: #454545;
$color-subordinado-2: #f5f5f5;
$color-acento-1: 		#00b9e4;
$color-acento-2: 		#fff;


// CUSTOM
//$mmenu-sub-alternative: true;
//$btn-download-alternative: true;

$button-primary-font-color: #fff;

$mmenu-font-size: .9em;
$mmenu-font-case: uppercase;
$mmenu-sub-label-font-case: uppercase;
$mmenu-sub-label-font-weight: bold;


$title-font-size: 2em;

$snav-item-color: #000;
$snav-item-active-bg: #fff;


$login-bg-image:"../images/back-login.jpg";
$login-bg-size: cover;

//$header-bg-image:"../images/back-login.jpg";

$footer-bg-color: #fff;


//$mcontent-bg-color: rgba(255, 255, 255, .8);

//$snav-item-border-top: false;
//$snav-item-border-right: false;
//$snav-item-border-bottom: false;
//$snav-item-border-left: true;
//$snav-item-border-width: 10px;
//$snav-item-border-color: #eee;
//$snav-item-active-border: #000;
//$snav-item-active-bg: #fff;

// BRAND PALETTE
//$color-dominante: #024959;
//$color-subordinado-1: #037E8C;
//$color-subordinado-2: #FFFFFA;
//$color-acento-1: 		#F24C27;
//$color-acento-2: 		#5F5448;


//$font-1-name: 'Roboto';
//$font-1-ttf: 'roboto.ttf';
//$font-1-eot: 'roboto.eot';
//$font-1-woff: 'roboto.woff';
//$font-1-svg: 'roboto.svg';

//$g-font-primary: 'Roboto';

